<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Edit your Listing</h3>
    <form action="/listings/<%=singlelisting._id%>?_method=PUT" method="post">
        <input type="text" name="listing[title]" value="<%=singlelisting.title%>">
        <br><br>
        <textarea name="listing[description]"  value="<%=singlelisting.description %>"></textarea>
        <br><br>
        <input type="text" name="listing[image]" value="<%=singlelisting.image%>">
        <br><br>
        <input type="number" name="listing[price]" value="<%=singlelisting.price%>">
        <br><br>
        <input type="text" name="listing[country]" value="<%=singlelisting.country%>">
        <br><br>
        <input type="text" name="listing[location]" value="<<%=singlelisting.location%>">
        <br><br>
        <button>Add</button>
    </form>
</body>
</html>